html {
  background-color: #FFFFFF;
}

#field {
  display: grid;
  grid-gap: 8px;
}

#mFx {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

#Fx {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

#mFy {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

#Fy {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

#mFz {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

#Fz {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}
