@media only screen and (max-width: 4000px) {
html {
  background-color: #FFFFFF;
  margin: 2vh 2vw;
}

/* define the font for all dcc_inputs */

#surface, #Fx, #Fy, #Fz, #r1, #r2, #r3, #u_range1i,
#u_range2i, #v_range1i, #v_range2i, #x_range1i, #x_range2i,
#y_range1i, #y_range2i, #z_range1i, #z_rang2i, #output_{
  font-family:Georgia,"Times New Roman",Times,serif;
}

h1. {
  text-align: center;
}

#header {
  display: grid;
  grid-gap: 0px;
}

#header_h3 {
  grid-column: 1;
  grid-row: 1;
}

#surface {
  display: grid;
  grid-gap: 1px;
  font-size: 1em;
}

#surface_label {
  grid-row: 1;
  grid-column: 1;
}

#dropdown {
    grid-row: 1;
    grid-column: 2;
}

#main {
  display: grid;
  grid-gap: 1px;
}

#inputs {
  width: 45%;
  grid-column: 1;
  display: grid;
  grid-gap: 0.5em;
}

#graphing {
  grid-column: 2;
  margin: 0;
  display: block;
}

/* #surface_plot {
  grid-column: 1;
  grid-row: 1;
} */

#vector_field_l {
  grid-column: 1;
  grid-row: 1;
}

#field {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-gap: 1em;
  margin: 1.5em;
}

/* field */

#mFx {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

#Fx {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

#mFy {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

#Fy {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

#mFz {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

#Fz {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}

#method_dropdown {
  grid-column: 1;
  grid-row: 3;
}

#method {
  grid-column: 1;
  grid-row: 4;
}

#accuracy {
  grid-column: 1;
  grid-row: 5;
}

#integral_accuracy {
  grid-column: 1;
  grid-row: 6;
}

/* parametric_bounds */

#parametric_bounds {
  grid-row: 7;
  grid-column: 1;
  grid-gap: 2px;
}

#r1lab {
  grid-column: 1;
  grid-row: 1;
}

#r1 {
  grid-column: 2 / 5;
  grid-row: 1;
}

#r2lab {
  grid-column: 1;
  grid-row: 2;
}

#r2 {
  grid-column: 2 / 5;
  grid-row: 2;
}

#r3lab {
  grid-column: 1;
  grid-row: 3;
}

#r3 {
  grid-column: 2 / 5;
  grid-row: 3;
}

#u_range1 {
  grid-row: 4;
  grid-column: 1;
}

#u_range1i {
  grid-column: 2;
  grid-row: 4;
}

#u_range2 {
  grid-row: 4;
  grid-column: 3;
}

#u_range2i {
  grid-row: 4;
  grid-column: 4;
}

#v_range1 {
  grid-row: 5;
  grid-column: 1;
}

#v_range1i {
  grid-column: 2;
  grid-row: 5;
}

#v_range2 {
  grid-row: 5;
  grid-column: 3;
}

#v_range2i {
  grid-row: 5;
  grid-column: 4;
}

/* fxy_bounds */

#fxy_bounds {
  grid-gap: 1pt;
  grid-row: 7;
  grid-column: 1;
}

#x_range1 {
  grid-column: 1;
  grid-row: 1;
}

#x_rangei {
  grid-column: 2;
  grid-row: 1;
}

#x_range1 {
  grid-column: 1;
  grid-row: 1;
}

#x_rangei {
  grid-column: 2;
  grid-row: 1;
}

#x_range2 {
  grid-row: 1;
  grid-column: 3;
}

#x_range2i {
  grid-row: 1;
  grid-column: 4;
}
#y_range1 {
  grid-column: 1;
  grid-row: 2;
}

#y_rangei {
  grid-column: 2;
  grid-row: 2;
}

#y_range2 {
  grid-column: 3;
  grid-row: 2;
}

#y_range2i {
  grid-column: 4;
  grid-row: 2;
}

#z_range1 {
  grid-column: 1;
  grid-row: 3;
}

#z_rangei {
  grid-column: 2;
  grid-row: 3;
}

#z_range2 {
  grid-column: 3;
  grid-row: 3;
}

#z_range2i {
  grid-column: 4;
  grid-row: 3;
}

#output_ {
  font-size: 2.5em;
}
#plot_attributes {
  display: block;
}

}
